<h1><%= @user.name %></h1>
<small><%= link_to "Back to All Users", users_path %></small>
<h2>Movie Comparisons</h2>

  <table>
    <thead>
      <tr>
        <th>Superior Movie</th>
        <th>Inferior Movie</th>
      </tr>
    </thead>
    <tbody>
      <% @user.comparisons.each do |comparison| %>
        <tr>
          <td><%= comparison.superior_movie.title%></td>
          <td><%= comparison.inferior_movie.title%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<h2>Create New Comparison</h2>

  <%= form_for @comparison do |f| %>
    <input type="hidden" name="user[id]" value="<%= @user.id %>">

    <%= f.label :superior_movie_id, "Superior Movie"%>
    <%= f.collection_select :superior_movie_id, @movies, :id, :title %><br>

    <%= f.label :inferior_movie_id, "Inferior Movie"%>
    <%= f.collection_select :inferior_movie_id, @movies, :id, :title %><br>

    <%= f.submit %>
  <% end %>
